div {
    width: 100 px;
    height: 100 px;
    background-image: url (carrinho de corrida);
    background-size: cover;
    width: 200px;
}

.title-heading {
    background-color: black;
    color: red;
    font-family: monospace;
    font-size:xx-large;
}

.center {
    padding: 10px;
    text-align: center;
}

.car-section {
    padding-top: 20 px;
    text-align: left;
}

.car1 {
    background-color: red;
    margin-left: 0px;
}

.car2 {
    background-color: green;
    margin-left: 0px;
}